<strong> Olá, {{ deliveryman }}</strong>
<p>Houve um cancelamento de entrega, confira os detalhes abaixo</p>
<p>
  <strong> Destinátario: </strong> {{ user }} <br />
  <strong> Produto: </strong> {{ product }} <br />
  <strong> Motivo: </strong> {{ description }}
  <br />
  <small>
    O entregador está novamente disponivel para novos agendamentos.
  </small>
</p>